.container {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: auto;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

#logo_frame_hole {
  top: 0;
  left: -100vw;
}

section:nth-child(odd) {
  background: #d0ff00;
}

section:nth-child(even) {
  background: #52ffe5;
}
